<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CurveFever Control</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css?v={{VERSION}}"/>
    <script src="main.js?v={{VERSION}}"></script>
    <script type="text/javascript">
      const defaultPlayers = [
        { name: 'Fred', color: '#ff0000' },
        { name: 'Greenly', color: '#00ff00' },
        { name: 'Pinkey', color: '#ff00da' },
        { name: 'Bluebell', color: '#03f7ff' },
        { name: 'Orange', color: '#ff6500' },
        { name: 'Graydon', color: '#cccccc' },
      ]

      let playerManagement = new PlayerManagement(defaultPlayers)
      let itemManagememt = new ItemManagement(ITEMCLASSES, defaultUsedItems)
      let configurationManagement = new ConfigurationManagement(defaultConfig)

      let goalsManagement = new GoalsManagement(goals, defaultGoal)
      let worldManagement = new WorldManagement(worlds, defaultWorld)

      window.addEventListener('load', () => {
        playerManagement.init()
        let playerConfig = playerManagement.loadAndApplyConfig('last')
        if (!playerConfig) {
          playerManagement.addPlayer()
          playerManagement.addPlayer()
        }

        itemManagememt.init()
        configurationManagement.init()
        goalsManagement.init()
        worldManagement.init()

        initAdvancedSelector()
      })

      function storeCurrentConfig () {
        playerManagement.saveCurrentConfig('last')
        itemManagememt.saveItemSelectionToLocalStorage('items-last')
        configurationManagement.saveCurrentConfig('last')
        goalsManagement.storeGoalConfigInLocalStorage(goalsManagement.readGoalFromDOM(), 'last')
        worldManagement.storeWorldConfigInLocalStorage(worldManagement.readWorldFromDOM(), 'last')
      }
      window.addEventListener('load', () => {
        const form = document.querySelector('form[action^="play.html"]')
        function startGame (e) {
          e.preventDefault()
          storeCurrentConfig()
          if (!check()) {
            return false
          }
          const queryString = new URLSearchParams(new FormData(form)).toString()
          localStorage.setItem('currentGameConfig', queryString)
          window.location.href = 'play.html'
        }
        form.addEventListener('submit', startGame)
      })
    </script>
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <h1>Curvefever</h1>
    </div>
    <form action="play.html?v={{VERSION}}">
        <div class="config-section">
            <h2>Players</h2>

            <input type="hidden" name="playerCount" id="playerCount" value="0" autocomplete="false"/>
            <table class="player-list">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Left Key</th>
                    <th>Right Key</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="player-list">

                </tbody>
            </table>
            <button type="button" id="addPlayerBtn">Add Player</button>
            <button class="start-button">Play Game</button>
        </div>

        <div class="world-goal-container config-section">
            <div class="worlds">
                <h2>World</h2>
                <label for="world-selector">World: </label> <select id="world-selector" name="world"></select>
                <div id="world-config-container" class="world-config-container advanced"></div>
            </div>

            <div class="goals">
                <h2>Goals</h2>
                <div>
                    <label for="goal-selector">Goal Type:</label> <select id="goal-selector" name="goal"></select>
                    <div id="goal-config-container" class="goal-config-container"></div>
                </div>
            </div>
        </div>

        <div class="items config-section advanced">
            <h2>Items</h2>
            <span>
                <button id="items-selectall-btn" type="button">Select all</button>
                <button id="items-selectnone-btn" type="button">Select none</button>
            </span>
            <span class="seperator">|</span>
            <span>
                <select id="items-set-selector">
                    <optgroup label="Predefined" id="items-set-selector-predefineds">
                        <option value="default">Default Items</option>
                    </optgroup>
                    <optgroup label="Custom" id="items-set-selector-individuals">
                    </optgroup>
                </select>
                <button id="items-set-selector-load-btn" type="button">Load</button>
                <span class="seperator">|</span>
                <input type="text" placeholder="Custom Itemset Name" id="items-set-custom-name"/>
                <button type="button" id="items-set-custom-save-btn">Save</button>
            </span>
            <div id="item-configurator"></div>
        </div>

        <div class="settings config-section advanced">
            <h2>Settings</h2>
            <span>
                <select id="config-set-selector">
                    <optgroup label="Predefined" id="config-set-selector-predefineds">
                        <option value="default">Default Configuration</option>
                    </optgroup>
                    <optgroup label="Custom" id="config-set-selector-individuals">
                    </optgroup>
                </select>
                <button id="config-set-selector-load-btn" type="button">Load</button>
                <span class="seperator">|</span>
                <input type="text" placeholder="Custom Configset Name" id="config-set-custom-name"/>
                <button type="button" id="config-set-custom-save-btn">Save</button>
            </span>

            <div class="settings-general">
                <h3>General</h3>
                <div>
                    <label>Game Ticks</label>
                    <input type="number" name="config.ticks" min="30" step="1"/>
                    <p>
                        Number of ticks that should be performed per second.
                        If your computer is not able to handle the amount of ticks it will not perform more!
                        You can use this as a simple system wide speed modifier, but be aware that collision
                        checking might not work well, if the player speed is to high and the tick speed to low.
                    </p>
                </div>
                <div>
                    <label>Show Effect Durations</label>
                    <input type="checkbox" name="config.effect.display.showInSidecar" value="true" />
                    <p>
                        Enable this if you want to see the effect durations on each player.
                    </p>
                </div>
            </div>

            <div class="settings-player">
                <h3>Player</h3>
                <div>
                    <label>Initial Speed</label>
                    <input type="number" name="config.player.initialSpeed" min="0" step="any"/>
                    <p>Number of pixels the player moves forward per tick at the start.</p>
                </div>
                <div>
                    <label>Turn Speed</label>
                    <input type="number" name="config.player.turnSpeed" min="0" step="any"/>
                    <p>Amount of radians the player is allowed to turn per tick.</p>
                </div>
                <div>
                    <label>Initial Size</label>
                    <input type="number" name="config.player.initialSize" min="0"/>
                    <p>Size of the player head in pixels at the start.</p>
                </div>
                <div>
                    <label>Hole Size</label>
                    <input type="number" name="config.player.holeSize" min="0" step="any"/>
                    <p>Amount of ticks that a player path makes a hole.</p>
                </div>
                <div>
                    <label>Hole Spawn Delay</label>
                    <input type="number" name="config.player.holeDelayFixed" min="0" step="any"/>
                    <p>Least amount of ticks that a player path does not make a hole for.</p>
                </div>
                <div>
                    <label>Hole Spawn Delay Random</label>
                    <input type="number" name="config.player.holeDelayRandomMax" min="0" step="any"/>
                    <p>Amount of ticks that a player path does not make a hole for, but multiplied with a random number
                        between 0 and 1. This is added to the <i>Hole Spawn Delay</i>.</p>
                </div>
            </div>

            <div class="settings-item">
                <h3>Item</h3>
                <div>
                    <label>Item Size</label>
                    <input type="number" name="config.item.size" min="0"/>
                    <p>Size of the item circle.</p>
                </div>
                <div>
                    <label>Item Spawn Delay</label>
                    <input type="number" name="config.item.spawnDelayFixed" min="0" step="any"/>
                    <p>Least amount of ticks that a item is not spawned for.</p>
                </div>
                <div>
                    <label>Item Spawn Delay Random</label>
                    <input type="number" name="config.item.spawnDelayRandomMax" min="0" step="any"/>
                    <p>Amount of ticks that a item does not spawn for, but multiplied with a random number between 0 and
                        1. This is added to the <i>Item Spawn Delay</i>.</p>
                </div>
            </div>

            <div class="settings-controls">
                <h3>Controls</h3>
                <div>
                    <label>Pause Key</label>
                    <input type="key-input" name="config.control.pauseKey"/>
                </div>
                <div>
                    <label>QuitGame Key</label>
                    <input type="key-input" name="config.control.quitGameKey"/>
                </div>
            </div>

            <div class="settings-colors">
                <h3>Colors</h3>
                <div>
                    <label>Background</label>
                    <input type="color" name="config.color.background"/>
                    <p>Background color of the game field.</p>
                </div>
                <div>
                    <label>World</label>
                    <input type="color" name="config.color.world"/>
                    <p>Color of the world lines such as the border.</p>
                </div>
                <div>
                    <label>Player Head</label>
                    <input type="color" name="config.color.playerHead"/>
                    <p>Color of the player heads.</p>
                </div>
                <div>
                    <label>Player Head (Dead)</label>
                    <input type="color" name="config.color.playerHeadDead"/>
                    <p>Color of the player head if the player is dead.</p>
                </div>
                <div>
                    <label>Player Head (Keys switched)</label>
                    <input type="color" name="config.color.playerHeadSwitched"/>
                    <p>Color of the player head if the players keys have been switched.</p>
                </div>
            </div>

            <div class="settings-effects">
                <h3>Player Effects</h3>

                <p>
                    Here you are able to configure settings for effects that are caused by items.
                </p>

                <div>
                    <h4>Ghost</h4>
                    <p>
                        The player does not have a trail and can move through other player lines.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.ghost.duration"/>
                        <p>Amount of ticks that the ghost effect lasts.</p>
                    </div>
                    <div>
                        <label>Wall Walking</label>
                        <input type="checkbox" name="config.effect.player.ghost.canWalkThroughWorld" value="true"/>
                        <p>Activate if ghosts should be able to move through world walls.</p>
                    </div>
                </div>
                <div>
                    <h4>Turn 90</h4>
                    <p>
                        The player can only work with 90 degree turns.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.turn90.duration"/>
                        <p>Amount of ticks that the "Turn 90" effect lasts.</p>
                    </div>
                </div>
                <div>
                    <h4>Sizeup</h4>
                    <p>
                        The player will be larger than before.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.sizeUp.duration"/>
                        <p>Amount of ticks that the "Sizeup" effect lasts.</p>
                    </div>
                    <div>
                        <label>Multiplier</label>
                        <input type="number" name="config.effect.player.sizeUp.multiplier"/>
                        <p>A multiplier applied to the size of the player.</p>
                    </div>
                </div>
                <div>
                    <h4>Sizedown</h4>
                    <p>
                        The player will be smaller than before.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.sizeDown.duration"/>
                        <p>Amount of ticks that the "Sizedown" effect lasts.</p>
                    </div>
                    <div>
                        <label>Multiplier</label>
                        <input type="number" name="config.effect.player.sizeDown.multiplier"/>
                        <p>A divisor applied to the size of the player.</p>
                    </div>
                </div>
                <div>
                    <h4>Speedup</h4>
                    <p>
                        The player will be faster than before.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.speedUp.duration"/>
                        <p>Amount of ticks that the "Speedup" effect lasts.</p>
                    </div>
                    <div>
                        <label>Multiplier</label>
                        <input type="number" name="config.effect.player.speedUp.multiplier"/>
                        <p>A multiplier applied to the speed of the player.</p>
                    </div>
                </div>
                <div>
                    <h4>Slowdown</h4>
                    <p>
                        The player with this effect will be slower than before.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.slowDown.duration"/>
                        <p>Amount of ticks that the "Slowdown" effect lasts.</p>
                    </div>
                    <div>
                        <label>Multiplier</label>
                        <input type="number" name="config.effect.player.slowDown.multiplier"/>
                        <p>A divisor applied to the size of the player.</p>
                    </div>
                </div>
                <div>
                    <h4>Party Mode</h4>
                    <p>
                        Its party time! The players will change colors rapidly.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.partyMode.duration"/>
                        <p>Amount of ticks that the "Party Mode" effect lasts.</p>
                    </div>
                </div>
                <div>
                    <h4>Phase World</h4>
                    <p>The player is allowed to walk through the world lines.</p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.phaseWorld.duration"/>
                        <p>Amount of ticks that the "Phase World" effect lasts.</p>
                    </div>
                </div>
                <div>
                    <h4>Switch Keys</h4>
                    <p>
                        The left and right key of a player are switched for a period of time.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.switchKeys.duration"/>
                        <p>Amount of ticks that the "Switch Keys" effect lasts.</p>
                    </div>
                </div>
                <div>
                    <h4>Full Force</h4>
                    <p>
                        "Full Force Ahead". The player cannot steer.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.fullForce.duration"/>
                        <p>Amount of ticks that the "Full Force" effect lasts.</p>
                    </div>
                </div>
                <div>
                    <h4>Shielded</h4>
                    <p>
                        A shielded player cannot be attacked by red items or "bad" blue ones.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.player.shielded.duration"/>
                        <p>Amount of ticks that the "Shielded" effect lasts.</p>
                    </div>
                </div>


                <h3>Game Effects</h3>

                <div>
                    <h4>Phase World</h4>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.game.phaseWorld.duration"/>
                        <p>Amount of ticks that the "Phase World" effect lasts.</p>
                    </div>
                </div>

                <div>
                    <h4>Cloud</h4>
                    <p>The map, player paths and items will be hidden multiple times.</p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.game.cloud.duration"/>
                        <p>Amount of ticks that the "Cloud" effect lasts.</p>
                    </div>
                </div>

                <div>
                    <h4>Portal</h4>
                    <p>
                        Two connected portals are spawned.
                        If a player enters one portal the player will exit the other portal.
                        Portals can be used from both sides.

                        Portals can be rotated which is indicated by the blue and red ends.
                    </p>
                    <div>
                        <label>Duration</label>
                        <input type="number" name="config.effect.game.portal.duration"/>
                        <p>Amount of ticks that the portal should stay open.</p>
                    </div>
                    <div>
                        <label>Size</label>
                        <input type="number" name="config.effect.game.portal.size"/>
                        <p>Size of the portals in pixels.</p>
                    </div>
                </div>

            </div>

        </div>

        <div style="display: flex; justify-content: space-between">
            <div class="advanced-selector-wrapper">
                <button class="start-button">Play Game</button>
                <input type="checkbox" id="advanced-selector"/> <label for="advanced-selector">Advanced Settings</label>
            </div>
            <div>
                <p>v{{VERSION}}</p>
            </div>
        </div>
    </form>
</div>
</body>
</html>