<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curvefever - HTML5 Edition</title>
    <script type="text/javascript" src="main.js?v={{VERSION}}"></script>
    <link rel="stylesheet" type="text/css" href="style.css?v={{VERSION}}"/>
    <script type="text/javascript">
        window.onload = initGame
    </script>
</head>
<body>

<div class="game-container">
    <canvas id="game-screen"></canvas>
    <div class="sidecar">
        <div class="game-stats">
            <div class="goal-description">
                <h2>Goal</h2>
                <p id="goal-description"></p>
            </div>
            <div>
                <h2>Ranking</h2>
                <div id="player-ranking" class="ranking"></div>
            </div>
            <div class="game-state-container">
                <h2>Gamestate</h2>
                <span id="game-state"></span>
            </div>
            <div class="effects">
                <h2>Effects</h2>
                <div id="effect-list">
                    <!-- filled with JS -->
                    <p>None active</p>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
</body>
</html>