* {
    font-family: 'Comic Neue', cursive;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: yellow;
}

input, select {
    background-color: black;
    border: 3px dotted yellow;
    border-radius: 10px;
    color: yellow;
    padding: 5px;
}

optgroup[label] {
    background-color: black;
    color: yellow;

    /* Firefox */
    font-style: inherit;
    font-weight: 300;
    text-shadow: none
}

input[type=color] {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type='checkbox'] {
    color: yellow;
    width: 30px !important;
    height: 30px !important;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    font-size: 2em;
}

input[type='checkbox']:checked {
    background-color: yellow;
}

button {
    background-color: black;
    border: 3px solid yellow;
    border-radius: 10px;
    padding: 5px;
    color: yellow;
}

button:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* index.html */

.main-wrapper {
    min-width: 500px;
    max-width: 800px;
    border: 5px dotted yellow;
    margin: 20px auto;
    padding: 20px;
}

.advanced-selector-wrapper {
    display: inline-flex;
    align-items: center;
}

.advanced-selector-wrapper button {
    margin-right: 10px;
}

.header {
    text-align: center;
    font-size: 40pt;
}

.header h1 {
    margin: 0
}

.player-list th {
    text-align: left;
}

.config-section {
    border-bottom: 1px solid yellow;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.world-goal-container {
    display: flex;
}

.world-goal-container > div {
    width: 49%;
}

#item-configurator {
    margin-top: 10px;
}

.item {
    display: table-row
}

.item > * {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}

.goal-config-container, .world-config-container {
    margin-top: 10px;
}

.goal-config, .world-config {
    margin: 5px;
}

.goal-config > input, .world-config > input {
    margin-right: 5px;
}

.goal-title:after {
    content: ':';
    margin-right: 5px;
}

.start-button {
    background-color: #004400;
}

/* play.html */

#game-screen {
    width: 100vh;
    height: 100vh;
    border: 1px dotted white;
    cursor: none;
}

.game-container {
    display: flex;
}

.game-container .sidecar {
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
}

.game-container .ranking {
    display: table;
    width: 100%
}

.game-container .ranking > div {
    display: table-row;
}

.game-container .ranking > div > span {
    display: table-cell;
    padding: 3px;
}

.game-container .ranking .name:after {
    content: ":";
}

.effect .effect-bar {
    position: relative;
    background-color: white;
    height: 5px;
}